body {
    background-color: burlywood;
    padding-left: 40px;
}

.name {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}

h2 {
    color: red;
    font-style: italic;
}

.chat {
    height: 30%;
    width: 48%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: grab;
}

.chat:hover {
    transform: translateY(-10px);
}

.anchor {
    color: brown;
    text-decoration: none;
    background-color: rgb(244, 24, 218);
    font-style: italic;
    border-radius: 10px;
    padding: 10px;
}

ul,
li {
    line-height: 30px;
}



.testing{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.login{
    height: 20%;
    width: 40%;
    border-radius: 10px;
}



