
h2
{
    color: red;
    font-style: italic;
}


body{
    background-color: burlywood;
}


.anchor
{
    color: red;
    text-decoration: none;
    background-color: rgb(0, 255, 68);
    font-style: italic;
}




